{% extends 'base.html.twig' %}

{% block title %}New Piece
{% endblock %}

{% block body %}
	<a href="{{ path('app_piece_index') }}" class="btn bg-accent-2 text-primary">Retour à la liste</a>
	<div class="form-container">
		{{ include('piece/_form.html.twig') }}
	</div>
{% endblock %}
