{% extends 'base.html.twig' %}

{% block title %}Edit Gamme 
{% endblock %}

{% block body %}
	
	<div class="form-container">
		<a href="{{ path('app_gamme_index') }}" class="btn bg-accent-2 text-primary">Retourner à la liste</a>

		{{ include('gamme/_form.html.twig', {'button_label': 'Update'}) }}

	</div>
	{{ include('gamme/_delete_form.html.twig') }}
{% endblock %}
