{% extends 'fabrication-base.html.twig' %}
{% block title %}Gamme index
{% endblock %}

{% block body %}
	<div>
		<a href="{{ path('app_gamme_new') }}">Ajouter une gamme</a>
		<select>
			{% for gamme in gammes %}
				<option>
					<a href="{{ path('app_gamme_show', {'id': gamme.id}) }}">{{ gamme.piece.libellepiece }}</a>
				</option>

			{% else %}
				<option>no records found</option>
			{% endfor %}
		</select>
	</div>
{% endblock %}
