{% extends 'base.html.twig' %}

{% block title %}New Gamme
{% endblock %}

{% block body %}
	<a href="{{ path('app_gamme_index') }}" class="btn bg-accent-2 text-primary">Retourner à la liste</a>
	<div class="form-container">

		{{ include('gamme/_form.html.twig') }}
	</div>
	
{% endblock %}
