{% extends 'base.html.twig' %}

{% block title %}New Gamme
{% endblock %}

{% block body %}
	<h1>Create new Gamme</h1>
	<div class="form-container">

		{{ include('gamme/_form.html.twig') }}
	</div>
	<a href="{{ path('app_gamme_index') }}">back to list</a>
{% endblock %}
