{% extends 'base.html.twig' %}

{% block title %}
  New Poste
{% endblock %}

{% block body %}
  <a href="{{ path('app_poste_index') }}" class="btn bg-accent-2 text-primary">Retour à la liste</a>
  <div class="form-container">
    <h1>Create new Poste</h1>

    {{ include('poste/_form.html.twig') }}
  </div>
{% endblock %}
