{% extends 'base.html.twig' %}
{% block title %}
	Exports
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center align-items-center h-100 w-75">
<div class="nav-item text-bg-primary rounded-5 shadow p-1 px-2 m-1 my-3 mr-5" role="button">
	<a href="{{ path('app_commande_csv')}}" class="nav-link text-secondary py-3 px-2 d-flex flex-column justify-content-center align-items-center" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
		<i class="fa-solid fa-download fa-3x"></i>
		<span for="exports">Export factures</span>
	</a>
</div>
<div class="nav-item text-bg-primary rounded-5 shadow p-1 px-2 m-1 my-3" role="button">
	<a href="{{ path('app_achat_csv')}}" class="nav-link text-secondary py-3 px-2 d-flex flex-column justify-content-center align-items-center" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
		<i class="fa-solid fa-download fa-3x"></i>
		<span for="exports">Export achats</span>
	</a>
</div>
</div>
{% endblock %}
