<form method="post" action="{{ path('app_ligne_achat_delete', {'id': ligne_achat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_achat.id) }}">
    <button class="btn text-bg-danger text-bg-danger"><i class="fa-regular fa-trash-can"></i></button>
</form>
