{% extends 'base.html.twig' %}

{% block title %}Edit LigneAchat{% endblock %}

{% block body %}
    <a href="{{ path('app_ligne_achat_index') }}" class="btn bg-accent-2 text-primary">Retour à la liste</a>
    <h1>Edit LigneAchat</h1>

    {{ include('ligne_achat/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('ligne_achat/_delete_form.html.twig') }}
{% endblock %}
