{{ form_start(form) }}
<div class="d-flex flex-row">
  {{ form_widget(form) }}
  <button class="btn text-bg-danger"><i class="fa-regular fa-trash-can"></i></button>
  <div class="w-100 d-flex justify-content-end mt-5">
<button class="btn">{{ button_label|default('Enregistrer') }}  <i class="fa-solid fa-arrow-right"></i></button>
</div></button>
</div>
{{ form_end(form) }}
