@import "~bootstrap/scss/bootstrap";
@import "./custom.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #eff1ed;
  --secondary-color: #3b3a3a;
  --accent-color: #ff9809;
  --accent-color-2: #086cad;
  --danger: #c71f1f;
}
a {
  all: unset;
}
li.nav-item {
  cursor: pointer;
  height: 80%;
  width: 85%;
}
button.btn:active,
button.btn:focus {
  background: var(--accent-color);
}
/* Styles pour le conteneur principal */
.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  height: 100vh;
  /* Prend toute la hauteur de l'écran */
  background-color: var(--accent-color);
  /* Fond orange autour du formulaire */
}

.container {
  /* Prend toute la hauteur de l'écran */
  background-color: var(--main-color);
  /* Fond orange autour du formulaire */
}

/* Styles pour le formulaire de connexion */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Fond blanc */
  padding: 20px;
  min-width: 370px;
  border-radius: 20px;
  width: max-content;
  margin: 0 auto;
  /* Ombre légère */

  &.login {
    background-color: var(--main-color);
    height: 50vh;
    width: 30vw;
  }

  [type="submit"] {
    margin-left: auto;
    display: block;
  }
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

/* Style pour les éléments du formulaire (par exemple, les champs input) */
.form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--secondary-color);
  border-radius: 9px;
  box-sizing: border-box;
}

/* Style pour les éléments du formulaire (label) */
.form-container label {
  width: 100%;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

/* Style pour le bouton de soumission */
.form-container {
  button {
    // width: 50%;
    padding: 10px;
    background-color: var(--accent-color);
    /* Couleur de fond */
    color: var(--secondary-color);
    /* Couleur du texte */
    border: none;
    border-radius: 9px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
  }

  /* Style pour le lien de mot de passe oublié */
  a {
    color: #007bff;
    /* Couleur du lien */
    text-decoration: none;
    /* Enlever le soulignement */
    margin-top: 10px;
    display: inline-block;
  }

  ul.ligneDocument {
    list-style: none;
    padding: 0;
  }

  #document_ligneDocument {
    > div > label {
      display: none;
    }
  }

  [id*="document_ligneDocument_"] {
    display: flex;
    column-gap: 8px;
  }
}

/* Style pour les messages d'erreur */
.error-message {
  color: red;
  margin-top: 5px;
}
$custom-colors: (
  "custom-color": #900,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

.sidebar {
  right: auto !important;
  height: 100%;
}
table,th, td{
  border: 2px solid var(--secondary-color)!IMPORTANT;
  border-collapse:collapse;
}