<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row">
        {% include './ui/sidebar.html.twig' %}
        <div class="col-sm p-3 min-vh-100 d-flex flex-column align-items-center">
          {% block body %}

          {% endblock %}
        </div>
      </div>
    </div>

    <script type="text/javascript">
          $('#piece_gamme').parent().hide()
          $('#piece_composition').parent().hide()
      $('#piece_type').on('change', function () {
        if ($(this).val() == 'Livrable') 
        {
          $('#piece_gamme').parent().show()
          $('#piece_composition').parent().show()
          $('#piece_gamme').attr('data-error', 'This field is required.')
          $('#piece_composition').attr('data-error', 'This field is required.')
        } else if ($(this).val() == 'Livrable') 
        {
          $('#piece_gamme').parent().show()
          $('#piece_gamme').attr('data-error', 'This field is required.')
        } else 
        {
          $('#piece_gamme').parent().hide()
          $('#piece_composition').parent().hide()
          $('#piece_gamme').removeAttr('data-error')
          $('#piece_composition').removeAttr('data-error')
        }
      })
      {# operation #}
      $('#operation_machine').parent().hide();

      $('#operation_poste').on('change', async function () {
        if ($('#operation_poste').val()) {
          let response = await fetch(`/atelier/machine/ajax/test?poste=${$('#operation_poste').val()}`, {
            headers: { 'X-Requested-with': 'XMLHttpRequest' },
            method: 'GET'
          })
          console.log(response);
          let reponseAjax = JSON.parse(await response.text())   

          $('#operation_machine').empty();
          
          if(reponseAjax.machines.length) {
              $('#operation_machine').append(`<option selected>Sélectionnez une machine</option>`)
            reponseAjax.machines.forEach((machine) => {
              console.log(machine)
              $('#operation_machine').append(`<option value="${machine.id}">${machine.libelle}</option>`)
            });
          } else {
            $('#operation_machine').append(`<option>Aucune machine adaptée</option>`)
          }
         
        }
      
        // update options
        if ($(this).val() !== '') {
          $('#operation_machine').parent().show()
          $('#operation_machine').attr('required', '')
          $('#operation_machine').attr('data-error', 'This field is required.')
        } else {
          $('#operation_machine').parent().hide()
          $('#operation_machine').removeAttr('data-error')
          $('#operation_machine').removeAttr('required')
        }
      })
      {# realisation #}
      $('#realisation_machine_reel').parent().hide();
      $('#realisation_poste_reel').parent().hide();
      
      $('#realisation_temps_reel').on('change', async function () {
          let response = await fetch(`/atelier/poste/ajax/test`, {
            headers: { 'X-Requested-with': 'XMLHttpRequest' },
            method: 'GET'
          })
          //console.log(response);
          let reponseAjax = JSON.parse(await response.text())   

          $('#realisation_poste_reel').empty();
          $('#realisation_machine_reel').empty();
          
          if(reponseAjax.qualifications.length) {
              $('#realisation_poste_reel').append(`<option selected>Sélectionnez un poste</option>`);
            reponseAjax.qualifications.forEach((poste) => {
              //console.log(poste)
              $('#realisation_poste_reel').append(`<option value="${poste.id}">${poste.libelle}</option>`)
            });
          } else {
            $('#realisation_poste_reel').append(`<option>Aucune poste adaptée</option>`)
          }
         
      
        // update options
        if ($(this).val() !== '') {
          $('#realisation_poste_reel').parent().show()
          $('#realisation_poste_reel').attr('required', '')
          $('#realisation_poste_reel').attr('data-error', 'This field is required.')
        } else {
      $('#realisation_machine_reel').parent().hide();
          $('#realisation_poste_reel').parent().hide()
          $('#realisation_poste_reel').removeAttr('data-error')
          $('#realisation_poste_reel').removeAttr('required')
        }})

      $('#realisation_poste_reel').on('change', async function () {
        if ($('#realisation_poste_reel').val()) {
          let response = await fetch(`/atelier/machine/ajax/test?poste=${$('#realisation_poste_reel').val()}`, {
            headers: { 'X-Requested-with': 'XMLHttpRequest' },
            method: 'GET'
          })
          //console.log(response);
          let reponseAjax = JSON.parse(await response.text())   

          $('#realisation_machine_reel').empty();
          
          if(reponseAjax.machines.length) {
              $('#realisation_machine_reel').append(`<option selected>Sélectionnez une machine</option>`)
            reponseAjax.machines.forEach((machine) => {
              console.log(machine)
              $('#realisation_machine_reel').append(`<option value="${machine.id}">${machine.libelle}</option>`)
            });
          } else {
            $('#realisation_machine_reel').append(`<option>Aucune machine adaptée</option>`)
          }
         
        }
      
        // update options
        if ($(this).val() !== '') {
          $('#realisation_machine_reel').parent().show()
          $('#realisation_machine_reel').attr('required', '')
          $('#realisation_machine_reel').attr('data-error', 'This field is required.')
        } else {
          $('#realisation_machine_reel').parent().hide()
          $('#realisation_machine_reel').removeAttr('data-error')
          $('#realisation_machine_reel').removeAttr('required')
        }
      })

      $(document).ready(function() {
      $('#filterSelect').on('change', function() {
                var selectedValue = $(this).val();
                console.log("hehehhe",selectedValue);
                $('.content').hide();
                $('.content').removeClass('d-flex');
                if (selectedValue !== "") {
                    $('#' + selectedValue).show();
                    $('#' + selectedValue).addClass('d-flex');
                } else {
                   $('.content').show();
                $('.content').addClass('d-flex');
                }
            });})
            
      $('#realisation_operation').hide()
      $( "label[for='realisation_ouvrier']" ).hide();
      $('#realisation_ouvrier').hide()
      $( "label[for='realisation_operation']" ).hide();
    </script>
  </body>
</html>
