{{ form_start(form) }}
{{ form_widget(form) }}
<div class="w-100 d-flex justify-content-end mt-5">
<button class="btn">{{ button_label|default('Enregistrer') }}  <i class="fa-solid fa-arrow-right"></i></button>
</div></button>
{{ form_end(form) }}


{% block custom_js %}
	<script>
		$('#user_Roles').on("change", ({target}) => {
            hideQualifications(target);
        })

        function hideQualifications(target) {
            if (!$(target).val().includes('ROLE_ATELIER')) {
                return $("#user_qualifications").parent().hide();
            }

            $("#user_qualifications").parent().show();
        }
        
        hideQualifications($("#user_Roles"));
	</script>
{% endblock %}
