{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center">
		<a href="{{ path('app_user_index') }}" class="btn bg-accent-2 text-primary">Retour à la liste</a>
		<h1>Ajouter un utilisateur</h1>
		<div></div>
	</div>
	<div class="form-container w-75">
		{{ include('user/_form.html.twig') }}
	</div>
{% endblock %}
