{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <a href="{{ path('app_user_index') }}" class="btn bg-accent-2 text-primary">Retour à la liste</a>
    <h1>Ajouter un utilisateur</h1>
	<div class="form-container">
    {{ include('user/_form.html.twig') }}
	</div>
{% endblock %}
