{% extends 'base.html.twig' %}

{% block title %}Realisation{% endblock %}

{% block body %}
    <a href="{{ path('app_realisation_index') }}" class="btn bg-accent-2 text-primary">Retour à la liste</a>

<div class="form-container">

    {{ include('realisation/_form.html.twig') }}
    </div>

    
{% endblock %}
